#indexContainer {
    text-align: center;
    height: 600px;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}
.el-row {
    margin-bottom: 20px;
}
.el-col {
    border-radius: 4px;
}

.grid-content {
    background: white;
    border: ghostwhite;
    box-shadow: 0px 0px 10px #B3C0D1;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.grid-top {
    height: 60%;
    width: 60%;
    margin: auto;
}

.grid-circle {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #B3C0D1;
}

.grid-icon {
    height: 60%;
    width: 60%;
    margin: auto auto;
}

.grid-icon:hover {
    padding-bottom: 15px;
}

.grid-font {
    font-size: 20px;
    font-weight: bold;
    /*color: #0725f8;*/
    color: #428CFC;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-bg {
    height: 100%;
    padding: 10px;
    padding-left: 20px;
}
